#root {
  text-align: center;
}

/* on main page */
.page-header {
  border-bottom: 2px solid black;
  height: 45px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
  padding-left: 110px;
}

.icon {
  font-size: 40px;
}