.title-text {
  /* code below copied from google fonts embed instructions: https://fonts.google.com/selection/embed*/
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /*end of copied code*/
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}


.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  align-content: center;
}

.btn {
  border-radius: 30px;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 5px white;  
}

.btn-disabled{
  border-radius: 30px;
  background-color: rgb(92, 92, 92);
  color: rgba(255, 255, 255, 0.539);
  border: 2px inset rgb(92, 92, 92);
  box-shadow: 0px 5px 5px white;  
}

.btn:hover {
  background-color: rgb(38, 38, 38);
}