.profile-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
}

.profile-page-img {
    font-size: 300px;
}

.input-label {
    font-size: 27px;
}

.edit-btn, .save-btn {
    margin-top: 30px;
    justify-self: center;
}

.edit-btn:hover, .save-btn:hover {
    color: rgb(4, 213, 213)
}

