.search-box {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 30px;
    margin-left: 5px;
}

.search-box input {
    border-width: 2px;
    border-radius: 20px;
    padding: 5px;
    min-width: 200px;
}
