.search-page {
    position: relative;
}

.search-area {
    justify-self: center;
    width: 30vw;
    position: absolute;
    z-index: 10;
}

.search-input {
    border-width: 2px;
    border-radius: 20px;
    padding: 10px;
    min-width: 300px;
    margin-top: 30px;
    margin-left: 0;
}

.search-btn {
    height: 40px;
    border-radius: 20px;
}

.autocomplete-recommendation {
    padding: 5px;
    background-color: rgb(209, 207, 207);
    margin: 2px 2px 2px 64px;
    text-align: left;
    border-width: 2px;
    border-radius: 20px;
    max-width: 300px;
}

.user-results-list {
    top: 200px;
    position: absolute;
}

.notif-para, .load-more-btn {
    position: relative;
    left: 45vw
}
