.page-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* Photo on Login and Sign up pages (Credit: Anthony DELANOIX):
    https://unsplash.com/photos/person-performing-heart-hand-gesture-hzgs56Ze49s */
    background-image: url("../assets/welcome-page-photo2.jpg");
    background-size: cover;
}

.title-side {
    text-align: center;
}

.title-side .title-text {
    font-size: 100px;
    margin: 5px;
}
