.tool-tip {
    min-width: 150px;
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border:dotted black 2px;
    position: absolute;
    left: var(--distance-from-icon);
    top: -80px;
}