.welcome-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.welcome-title {
    text-align: center;
}

.welcome-title .title-text {
    font-size: 150px;
    margin: 5px;
}

